.detail-content{
	padding-top: 10px;
	background-color: #f8f8f8;
}
.de-info{
	overflow: hidden;
}
.detail-pic{
	width: 427px;
	background-color: #fff;
	position: relative;
}
.big-pic{
	position: relative;
}
.de-info{
	padding-left: 38px;
}