body {
    line-height: 1.2;
}

.content {
    padding: 30px 0;
}

/* 首页滚动部分 */
.nn-inner-con {
    width: 1040px;
    margin: 0 auto;
}
.swiper-slide {
    height: 500px;
}
.swiper-slide .slider-msg {
    position: absolute;
    bottom: 68px;
    left: 65px;
}
.swiper-slide .slider-msg a {
    color: #fff;
}
.swiper-slide .slider-msg a.buy-link {
    background-color: #f00;
    display: block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 5px;
}
.swiper-pagination-bullet-active {
    background: #f00;
}

/* 首页分类 */
.nn-kinds .kinds-item {
    width: 245px;
    background-color: #f0f0f0;
    height: 123px;
    background-repeat: no-repeat;
    background-position: 50% 20px;
    background-size: 50px;
    position: relative;
}
.nn-kinds .fitness-wrap {
    background-image: url("../image/icon/fitness-icon.png");
    background-size: 30px;
}
.nn-kinds .image-wrap {
    background-image: url("../image/icon/image-icon.png");
}
.nn-kinds .toy-wrap {
    background-image: url("../image/icon/toy-icon.png");
}
.nn-kinds .origin-wrap {
    background-image: url("../image/icon/origin-icon.png");
}
.nn-kinds .title-txt {
    position: absolute;
    width: 100%;
    bottom: 18px;
    font-size: 20px;
}



