/* 左边菜单栏 */
.nn-left-menu {
    width: 250px;
    background-color: #fff;
}
.nn-all-sort .list-item .inner-bar {
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
}
.nn-all-sort .list-item .triangle-up {
    cursor: pointer;
    margin-top: 5px;
}
.nn-all-sort .list-item .img-icon {
    display: inline-block;
    width: 20px;
    height: 100%;
    margin-right: 5px;
}
.nn-all-sort .list-item .img-icon img {
    width: 20px;
    vertical-align: -2px;
}
.nn-all-sort .list-item:first-child {
    border-bottom: 2px solid #eee;
}
.nn-all-sort .list-item .plus-icon,
.nn-all-sort .list-item .subtraction-icon {
    font-weight: bold;
    color: #eee;
    font-size: 20px;
    line-height: 28px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.nn-all-sort .list-item .subtraction-icon {
    font-size: 35px;
}
.sub-menu-list {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.sub-menu-list .sub-list-item {
    padding: 7px 15px;
    font-size: 16px;
}
.sub-menu-list .sub-list-item .item-link {
    display: block;
    color: #cecece;
}
.sub-menu-list .sub-list-item .item-link .triangle-right {
    display: inline-block;
    margin: 7px 10px 0 7px;
    opacity: 0;
    border-left-color: #f75660;
    transition: all .3s ease;
}
.sub-menu-list .sub-list-item .item-link:hover {
    color: #333;
}
.sub-menu-list .sub-list-item .item-link:hover .triangle-right {
    opacity: 1;
}

/* 右侧内容区 */
.nn-right-content {
    margin-left: 260px;
    min-height: 1000px;
}
.nn-content-cover {
    background: url("../image/img/sort-by-cover.png") no-repeat center;
    background-size: cover;
    min-height: 300px;
    color: #fff;
    overflow: hidden;
}
.nn-content-cover .better-man-icon {
    font-size: 65px;
    font-weight: bold;
    margin-top: 60px;
}
.nn-content-cover h4 {

}

.nn-sort-condition {
    margin-top: 10px;
    background-color: #fff;
    padding: 0 20px;
    font-size: 16px;
    color: #333;
}
.nn-sort-condition .al-choose {
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.nn-sort-condition .al-choose .choose-item {
    display: inline-block;
    background-color: #111;
    color: #fff;
    padding: 0 10px;
    margin-left: 15px;
}
.nn-sort-condition .al-choose img.close {
    width: 10px;
    vertical-align: baseline;
    margin-right: 3px;
    cursor: pointer;
}
.nn-sort-condition p.sort-row {
    padding: 10px;
}
.nn-sort-condition .sort-row .sort-row-title {
    color: #dbdbdb;
}
.nn-sort-condition .sort-row .link-item {
    display: inline-block;
    padding: 0 10px;
}
.nn-sort-condition .sort-row .link-item a {
    color: #989898;
    position: relative;
}
.nn-sort-condition .sort-row .link-item a:after {
    position: absolute;
    content: '';
    left: 0;right: 0;
    bottom: -5px;
    height: 2px;background-color: #f75660;
    opacity: 0;
    transition: all .2s ease;
}
.nn-sort-condition .sort-row .link-item a:hover:after {
    opacity: 1;
}

/* 商品item */
.nn-goods-inner-item .goods-inner {
    width: 801px;
    margin-left: -10px;
}
.nn-goods-inner-item .goods-item-wrap {
    width: 245px;
    margin: 0 10px 20px 10px;
}
.nn-goods-inner-item .goods-cover {
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
}
.nn-goods-inner-item .goods-title {
     margin-top: 10px;
}
.nn-goods-inner-item .goods-title a {
    color: #a8a8a8;
}
.nn-goods-inner-item .goods-title a:hover {
    text-decoration: underline;
}
.nn-goods-inner-item p.goods-price {
    color: #f5686f;
}

/* 分页样式 */
.nn-pagiation-bar {
    margin: 20px 0;
}
.nn-pagiation-bar .page-item {
    width: 22px;
    height: 22px;
    margin-right: 5px;
}
.nn-pagiation-bar .page-item a {
    display: block;
    background-color: #d2d2d2;
    transition: all .2s ease;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 22px;
}
.nn-pagiation-bar .page-item a:hover {
    background-color: #111111;
}





